@model tmf.entities.Menu

@{
    ViewBag.Title = "Payment";
}

<!-- <fieldset>
    <legend>Menu</legend> -->
<h2><span class="titleContent">Payment Command</span></h2>
<div class="bodyContent">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prix)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prix)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductTypeId)
    </div>
</div>
<!-- </fieldset> -->
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
