@model tmf.entities.OrderCreated

@{
    ViewBag.Title = "Payment Command";
}

<h2><span class="titleContent">Payment Command</span></h2>

<div class="bodyContent">

    <div class="tableNumber">
         @Html.DisplayNameFor(model => model.Table)
            <span> : </span>
        @Html.DisplayFor(model => model.Table)
    </div>
    <br /><br />
    <div>
        <table>
            <tr>
                <th>
                    Menu
                </th>
                <th>
                    Prix
                </th>
            </tr>
            @foreach (var item in Model.Menus)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@String.Format("{0:F}", item.Prix)</td>
                </tr>
            }
        </table>
        <span><br />Prix total : </span>
        @String.Format("{0:F}", ViewBag.addition)
    </div>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

        <input type="hidden" name="cmd" value="_xclick" />
        <input type="hidden" name="business" value="maxime_1340114753_per@supinfo.com" />

        <input type="hidden" name="item_name" value="Menu YouFood" />
        <input type="hidden" name="amount" value="@ViewBag.addition" />
        <br />
        <input type="submit" id="paypalButton" value="" onclick="$.get('/Orders/CreateFromOrder?idOrder=' + '@Model.Id' + '&state=paid' );" />

    </form>
</div>

