@model tmf.entities.OrderCreated

@{
    ViewBag.Title = "PayCommand";
}

<h2>PayCommand</h2>

<fieldset>
    <legend>OrderCreated</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Table)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Table)
    </div>
    <div>
        <table>
            @foreach (var item in Model.Menus)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@String.Format("{0:F}", item.Prix)</td>
                </tr>
            }
        </table>
        @String.Format("{0:F}", ViewBag.addition)
    </div>
</fieldset>
