@model tmf.entities.OrderCreated

@{
    ViewBag.Title = "Payment Command";
}

<h2><span class="titleContent">Payment Command</span></h2>

@*<fieldset>
    <legend>OrderCreated</legend>*@
<div class="bodyContent">

    <div class="tableNumber">
         @Html.DisplayNameFor(model => model.Table)
            <span> : </span>
        @Html.DisplayFor(model => model.Table)
    </div>
    <br /><br />
    <div>
        <table>
            <tr>
                <th>
                    Menu
                </th>
                <th>
                    Prix
                </th>
            </tr>
            @foreach (var item in Model.Menus)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@String.Format("{0:F}", item.Prix)</td>
                </tr>
            }
        </table>
        <span><br />Prix total : </span>
        @String.Format("{0:F}", ViewBag.addition)
    </div>
</div>
@*</fieldset>*@
