@model IEnumerable<tmf.entities.Waiter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            FullName
        </th>
        <th>
            Zones
        </th>
        <th>
            Orders
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.FullName
        </td>
        <td>
			@(item.Zones == null ? "None" : item.Zones.Count.ToString())
        </td>
        <td>
			@(item.Orders == null ? "None" : item.Orders.Count.ToString())
        </td>
    </tr>
}

</table>


