@model IEnumerable<tmf.entities.Waiter>

@{
    ViewBag.Title = "Waiters";
}

<h2><span class="titleContent">Waiters</span></h2>

<div class="createNewButton">
    @Html.ActionLink("Create waiter", "Create")
</div>
<div class="bodyContent">
<table>
    <tr>
        <th></th>
        <th>
            FullName
        </th>
        <th>
            Zones
        </th>
        <th>
            Orders
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.FullName
        </td>
        <td>
			@(item.Zones == null ? "None" : item.Zones.Count.ToString())
        </td>
        <td>
			@(item.Orders == null ? "None" : item.Orders.Count.ToString())
        </td>
    </tr>
}

</table>

</div>
