@model tmf.web.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Acceuil";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>

        
        

        <legend>Choose your Restaurant and table</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.Table)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Table)
            @Html.ValidationMessageFor(model => model.Table)
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.RestaurantId, ((IEnumerable<tmf.entities.Restaurant>)ViewBag.PossibleRestaurants).Select(option => new SelectListItem {
                Text = (option == null ? "None" : option.Name), 
                Value = option.Id.ToString(),
                Selected = (Model != null) && (option.Id == Model.RestaurantId)
            }), "Choose...")
            @Html.ValidationMessageFor(model => model.RestaurantId)
        </div>

        <p>
            <input type="submit" value="Select" />
        </p>
    </fieldset>
}

