@model tmf.web.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Start";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <h3><span class="titleContent">Choose your restaurant and table</span></h3>
    <div class="bodyContent">
        <div class="editor-label">
            @Html.LabelFor(model => model.Table)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Table)
            @Html.ValidationMessageFor(model => model.Table)
        </div>
        <div class="editor-label">
          <br />Restaurant
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RestaurantId, ((IEnumerable<tmf.entities.Restaurant>)ViewBag.PossibleRestaurants).Select(option => new SelectListItem {
                Text = (option == null ? "None" : option.Name), 
                Value = option.Id.ToString(),           
                Selected = (Model != null) && (option.Id == Model.RestaurantId)
            }), "Choose...")
            @Html.ValidationMessageFor(model => model.RestaurantId)
        </div>
        <br>
        <p>
            <input class="submitInput" type="submit" value="Select" />
        </p>
     </div>
}

