@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Updated - VERSION DESKTOP To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@*<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Menus", "Index", "Menus")</li>
    <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
    <li>@Html.ActionLink("ProductTypes", "Index", "ProductTypes")</li>
    <li>@Html.ActionLink("Restaurants", "Index", "Restaurants")</li>
    <li>@Html.ActionLink("Waiters", "Index", "Waiters")</li>
    <li>@Html.ActionLink("Zones", "Index", "Zones")</li>
</ul>*@