@model tmf.entities.OrderCreating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OrderCreating</legend>

    <div class="display-label">Table</div>
    <div class="display-field">@Model.Table</div>

    <div class="display-label">Waiter</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Waiter).ToString()</div>

    <div class="display-label">Restaurant</div>
    <div class="display-field">@(Model.Restaurant == null ? "None" : Model.Restaurant.Name)</div>

    <div class="display-label">Menus</div>
    <div class="display-field">@(Model.Menus == null ? "None" : Model.Menus.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


