<!DOCTYPE html> 
<html> 
	<head> 
        <meta charset="utf-8" />
	    <title>YouFood - @ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
	    <!-- <link rel="stylesheet" href="@Url.Content("~/Content/jquery.mobile-1.0b2.min.css")" /> -->
        <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
	    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")"></script>
        <script type="text/javascript">
            $(document).bind("mobileinit", function() {
                // As of Beta 2, jQuery Mobile's Ajax navigation does not work in all cases (e.g.,
                // when navigating from a mobile to a non-mobile page, or when clicking "back"
                // after a form post), hence disabling it.
                $.mobile.ajaxEnabled = false;
            });
        </script>
        <!-- <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mobile-1.0b2.min.js")"></script> -->
	    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")"></script>
	    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-0.5.0.js")"></script>
	    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
        <script type="text/javascript" src="@Url.Content("~/Hubs/TmfHubOrderGeneric.js")"></script>
    </head> 
<body> 
    <div data-role="page" data-theme="b">
	    <div data-role="header">
            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
            else
            {
		        <img id="iconResto" src="~/Content/Images/icoResto1.jpg" /><div id="title"><h1>@ViewBag.Title</h1></div>
                @*<div id="logon">@Html.Partial("_LogOnPartial")</div>*@
            }
	    </div>
        @if (ViewBag.Title != "Start" && ViewBag.Title != "Delete" && ViewBag.Title != "Categories" && ViewBag.Title != "Payment")
        {
        <ul data-role="listview" data-inset="true">
            @if (Session["role"] != null && Session["role"].ToString() == "client")
            {
                <li data-role="list-divider" class="liTitle">Navigation</li>
                <li class="liSelect">@Html.ActionLink("Menu Client", "Create", "OrderCreatings")</li>
                <li class="liSeparator"></li>
                <li data-role="list-divider" class="liTitle">Us</li>
                <li class="liSelect">@Html.ActionLink("About", "About", "Home")</li>
                <li class="liSelect">@Html.ActionLink("Contact", "Contact", "Home")</li>
            }

            @if (Session["role"] != null && Session["role"].ToString() == "waiter")
            {
                <li data-role="list-divider" class="liTitle">Order</li>
                <li class="liSelect">@Html.ActionLink("Order Created", "Index", "OrderCreateds")</li>
                <li class="liSelect">@Html.ActionLink("Order Cooked", "Index", "OrderCookeds")</li>
                <li class="liSelect">@Html.ActionLink("Order Paid", "Index", "OrderPaids")</li>
            }

            @if (Session["role"] != null && Session["role"].ToString() == "cooker")
            {
                <li data-role="list-divider" class="liTitle">Order</li>
                <li class="liSelect">@Html.ActionLink("Order Placed", "Index", "OrderPlaceds")</li>
                <li class="liSelect">@Html.ActionLink("Order Cooking", "Index", "OrderCookings")</li>
            }

            @if (Session["role"] != null && Session["role"].ToString() == "admin")
            {
                <li data-role="list-divider" class="liTitle">Navigation</li>
                <li class="liSelect">@Html.ActionLink("Menus", "Index", "Menus")</li>
                <li class="liSelect">@Html.ActionLink("Menu Client", "Create", "OrderCreatings")</li>
                <li class="liSelect">@Html.ActionLink("Product Types", "Index", "ProductTypes")</li>
                <li class="liSelect">@Html.ActionLink("Restaurants", "Index", "Restaurants")</li>
                <li class="liSelect">@Html.ActionLink("Waiters", "Index", "Waiters")</li>
                <li class="liSelect">@Html.ActionLink("Zones", "Index", "Zones")</li>

                <li class="liSeparator"></li>
            
            
                <li data-role="list-divider" class="liTitle">Order</li>
                <li class="liSelect">@Html.ActionLink("Orders", "Index", "Orders")</li>
                <li class="liSelect">@Html.ActionLink("Order Creating", "Index", "OrderCreatings")</li>
                <li class="liSelect">@Html.ActionLink("Order Created", "Index", "OrderCreateds")</li>
                <li class="liSelect">@Html.ActionLink("Order Placed", "Index", "OrderPlaceds")</li>
                <li class="liSelect">@Html.ActionLink("Order Cooking", "Index", "OrderCookings")</li>
                <li class="liSelect">@Html.ActionLink("Order Cooked", "Index", "OrderCookeds")</li>
                <li class="liSelect">@Html.ActionLink("Order Served", "Index", "OrderServeds")</li>
                <li class="liSelect">@Html.ActionLink("Order Paid", "Index", "OrderPaids")</li>
            }

            

        </ul>
        }
        <div class="divSeparator"></div>

	    <div id="contentBody" data-role="content">	
		    @RenderBody()
	    </div>
       <div id="footer"></div>
       </div>
    
</body>
</html>