<!DOCTYPE html> 
<html> 
	<head> 
        <meta charset="utf-8" />
	    <title>@ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
	    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.mobile-1.0b2.min.css")" />
        <!-- <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" /> -->
	    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")"></script>
        <script type="text/javascript">
            $(document).bind("mobileinit", function() {
                // As of Beta 2, jQuery Mobile's Ajax navigation does not work in all cases (e.g.,
                // when navigating from a mobile to a non-mobile page, or when clicking "back"
                // after a form post), hence disabling it.
                $.mobile.ajaxEnabled = false;
            });
        </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mobile-1.0b2.min.js")"></script>
	    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")"></script>
	    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-0.5.0.js")"></script>
	    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
        <script type="text/javascript" src="@Url.Content("~/Hubs/TmfHubOrderGeneric.js")"></script>
    </head> 
<body> 
    <div data-role="page" data-theme="b">
	    <div data-role="header">
            @if (IsSectionDefined("Header")) {
                @RenderSection("Header")
            } else {
		        <h1><span id="title">@ViewBag.Title</span></h1>
                @Html.Partial("_LogOnPartial")
            }
	    </div>

	    <div id="contentBody" data-role="content">	
		    @RenderBody()
	    </div>

        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" id="navig">Navigation</li>
            <li id="menus">@Html.ActionLink("Menus", "Index", "Menus")</li>
            <li id="productTypes">@Html.ActionLink("ProductTypes", "Index", "ProductTypes")</li>
            <li id="restaurant">@Html.ActionLink("Restaurants", "Index", "Restaurants")</li>
            <li id="waiters">@Html.ActionLink("Waiters", "Index", "Waiters")</li>
            <li id="zones">@Html.ActionLink("Zones", "Index", "Zones")</li>
            <li class="liSeparator"></li>

            <li data-role="list-divider" id="order">Order</li>
            <li id="orders">@Html.ActionLink("Orders", "Index", "Orders")</li>
            <li id="orderCreatings">@Html.ActionLink("OrderCreatings", "Index", "OrderCreatings")</li>
            <li id="orderCreateds">@Html.ActionLink("OrderCreateds", "Index", "OrderCreateds")</li>
            <li id="orderPlaceds">@Html.ActionLink("OrderPlaceds", "Index", "OrderPlaceds")</li>
            <li id="orderCookings">@Html.ActionLink("OrderCookings", "Index", "OrderCookings")</li>
            <li id="orderCookeds">@Html.ActionLink("OrderCookeds", "Index", "OrderCookeds")</li>
            <li id="orderServeds">@Html.ActionLink("OrderServeds", "Index", "OrderServeds")</li>
            <li id="orderPaids">@Html.ActionLink("OrderPaids", "Index", "OrderPaids")</li>

            <li class="liSeparator"></li>
            <li data-role="list-divider" id="us">Us</li>
            <li id="about">@Html.ActionLink("About", "About", "Home")</li>
            <li id="contact">@Html.ActionLink("Contact", "Contact", "Home")</li>

        </ul>
    </div>
</body>
</html>