@model tmf.entities.Order


    <td>
        @if(Model is tmf.entities.OrderCreated){
            @Html.ActionLink("placed", "CreateFromOrder", "Orders", new {idOrder=Model.Id, controllerName="OrderPlaceds",  state="placed" }, null)            
        }
        else if(Model is tmf.entities.OrderPlaced){
            @Html.ActionLink("take command", "CreateFromOrder", "Orders", new {idOrder=Model.Id, controllerName="OrderCookings",  state="cooking" }, null)
        }
        else if(Model is tmf.entities.OrderCooking){
            @Html.ActionLink("terminated", "CreateFromOrder", "Orders", new {idOrder=Model.Id, controllerName="OrderCookeds",  state="cooked" }, null)
        }
        else if(Model is tmf.entities.OrderCooked){
            @Html.ActionLink("served", "CreateFromOrder", "Orders", new {idOrder=Model.Id, controllerName="OrderServeds",  state="served" }, null)
        }
        else if(Model is tmf.entities.OrderServed){
            @Html.ActionLink("paid", "CreateFromOrder", "Orders", new {idOrder=Model.Id, controllerName="OrderPaids",  state="paid" }, null)
        }
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
    </td>
    <td>
		@Model.Table
    </td>
    <td>
		@Html.DisplayTextFor(_ => Model.Waiter).ToString()
    </td>
    <td>
		@(Model.Restaurant == null ? "None" : Model.Restaurant.Name)
    </td>
    <td>
		@(Model.Menus == null ? "None" : Model.Menus.Count.ToString())
    </td>


