@model tmf.entities.Order


    <td>
        @if (Session["role"] != null && Session["role"].ToString() == "waiter" || Session["role"] != null && Session["role"].ToString() == "cooker" || Session["role"] != null && Session["role"].ToString() == "admin")
        {
            if(Model is tmf.entities.OrderCreated){
                @Html.ActionLink("placed", "CreateFromOrder", "Orders", new {idOrder=Model.Id,  state="placed" }, null)            
            }
            else if(Model is tmf.entities.OrderPlaced){
                @Html.ActionLink("take command", "CreateFromOrder", "Orders", new {idOrder=Model.Id,  state="cooking" }, null)
            }
            else if(Model is tmf.entities.OrderCooking){
                @Html.ActionLink("terminated", "CreateFromOrder", "Orders", new {idOrder=Model.Id,  state="cooked" }, null)
            }
            else if(Model is tmf.entities.OrderCooked){
                @Html.ActionLink("served", "CreateFromOrder", "Orders", new {idOrder=Model.Id,  state="served" }, null)
            }
            else if(Model is tmf.entities.OrderServed){
                @Html.ActionLink("paid", "CreateFromOrder", "Orders", new {idOrder=Model.Id,  state="paid" }, null)
            }  
        }
        @if(Session["role"] != null && Session["role"].ToString() == "admin")
        {
            <span> | </span>
            @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) <span> | </span>

            @Html.ActionLink("Details", "Details", new { id=Model.Id })<span> | </span>

            @Html.ActionLink("Delete", "Delete", new { id=Model.Id }) 
        }
    </td>
    <td>
		@Model.Table
    </td>
    <td>
		@Html.DisplayTextFor(_ => Model.Waiter).ToString()
    </td>
    <td>
		@(Model.Restaurant == null ? "None" : Model.Restaurant.Name)
    </td>
    <td>
        <ul>
            @foreach(var item in Model.Menus)
            {
                <li>
                    @item.Title
                </li>
            }
        </ul>
    </td>


