@model IEnumerable<tmf.entities.OrderCooking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="ordersCooking">
    <tr>
        <th></th>
        <th>
            Table
        </th>
        <th>
            Waiter
        </th>
        <th>
            Restaurant
        </th>
        <th>
            Menus
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("terminated", "CreateFromOrder", "Orders", new {idOrder=item.Id, controllerName="OrderCookeds",  state="cooked" }, null)
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Table
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Waiter).ToString()
        </td>
        <td>
			@(item.Restaurant == null ? "None" : item.Restaurant.Name)
        </td>
        <td>
			@(item.Menus == null ? "None" : item.Menus.Count.ToString())
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    connectHub("cooking", "ordersCooking");
</script>

