@model IEnumerable<tmf.entities.ProductType>

@{
    ViewBag.Title = "Product Type";
}

<h2><span class="titleContent">Product Type</span></h2>

<div class="createNewButton">
    @Html.ActionLink("Create product type", "Create")
</div>
<div class="bodyContent">
<table>
    <tr>
        <th></th>
        <th>
            Description
        </th>
        <th>
            Menus
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@(item.Menus == null ? "None" : item.Menus.Count.ToString())
        </td>
    </tr>
}

</table>
</div>


