@model tmf.entities.Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Menu</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">ProductType</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.ProductType).ToString()</div>
   <!-- bordel pourquoi il y a rien qui s'affiche ici -->
    
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("command", "Create", "Orders", new {idMenu = Model.Id}, null)
</p>


