@model IEnumerable<tmf.entities.Menu>

@{
    ViewBag.Title = "Menus";
}

<h2><span class="titleContent">Menus</span></h2>

<div class="createNewButton">
    @Html.ActionLink("Create a new Menu", "Create")
</div>
<div class="bodyContent">
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Prix
        </th>
        <th>
            ProductType
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@String.Format("{0:F}", item.Prix)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.ProductType).ToString()
        </td>
    </tr>
}

</table>


    </div>