@model tmf.web.ViewModels.OrderOneMenuViewModel

@{
    ViewBag.Title = "Order a menu";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <h2><span class="titleContent">Menu</span></h2>

    <div class="bodyContent">
        @Html.HiddenFor(p => p.IdOrder)

        @foreach( var item in Model.Menus){
                <div class="displayMenu">
                    @if (item.Title == "Aligot")
                    {
                        <img src="@Url.Content("~/Content/Images/menu/aligot.jpg")" />
                    }
                    else if(item.Title == "Canard Laqué")
                    {
                        <img src="@Url.Content("~/Content/Images/menu/canardlaque.jpg")" />
                    }
                    else if(item.Title == "Enchiladas")
                    {
                        <img src="@Url.Content("~/Content/Images/menu/enchiladas.jpg")" />
                    }
                    else if(item.Title == "Fajitas")
                    {
                        <img src="@Url.Content("~/Content/Images/menu/fajitas.jpg")" />
                    }
                    else if(item.Title == "Hamburger")
                    {
                        <img src="@Url.Content("~/Content/Images/menu/hamburger.jpg")" />
                    }
                    else if(item.Title == "Nems")
                    {
                        <img src="@Url.Content("~/Content/Images/menu/nem.jpg")" />
                    }
                    else if(item.Title == "Poulet au curry")
                    {
                        <img src="@Url.Content("~/Content/Images/menu/pouletcurry.jpg")" />
                    }
                    else if(item.Title == "Spaghetti")
                    {
                        <img src="@Url.Content("~/Content/Images/menu/spaghetti.jpg")" />
                    }
                    else if(item.Title == "Sushi Maki")
                    {
                        <img src="@Url.Content("~/Content/Images/menu/sushimaki.jpg")" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/menu/empty.jpg")" />
                    }
                    <div class="displayMenuInformation">
                    @Html.RadioButtonFor(model => model.IdMenuSelected, @item.Id)
                    @item.Title
                    <span> (</span>@item.ProductType<span>) Prix : </span>
                    @String.Format("{0:F}", item.Prix)<span>E</span>
                   </div>
                </div>    
        }
        <br /><br />
        <div class="editor-label">
                Order terminated?
        
            <span class="editor-field">
                @Html.CheckBoxFor(model => model.IsOrderTerminated)
            </span></div>

            <p>
                <input class="submitInput" type="submit" value="Valid" />
            </p>
        </div>
}

