@model tmf.web.ViewModels.OrderOneMenuViewModel

@{
    ViewBag.Title = "Order a menu";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <!-- <fieldset>
        <legend>Menu</legend> -->
    <h2><span class="titleContent">Menu</span></h2>

    <div class="bodyContent">
        @Html.HiddenFor(p => p.IdOrder)

		@*<div class="editor-label">
            Menu
        </div>
        
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdMenuSelected, (Model.Menus).Select(option => new SelectListItem {
                Text = Html.DisplayTextFor(_ => option).ToString(), 
                Value = option.Id.ToString(),
                Selected = false
            }), "Choose...")
            @Html.ValidationMessageFor(model => model.IdMenuSelected)
        </div>
        *@


        <table>
            <tr>
                <th>
                    Selection
                </th>
                <th>
                    Menu
                </th>
                <th>
                    Type
                </th>
                <th>
                    Prix
                </th>
            </tr>

            @foreach( var item in Model.Menus){
                <tr>
                    <td>@Html.RadioButtonFor(model => model.IdMenuSelected, @item.Id)</td>
                    <td>@item.Title</td>
                    <td>@item.ProductType</td>
                    <td>@String.Format("{0:F}", item.Prix)</td>
                    
                </tr>
            
            }
        </table>
        <br /><br />
        <div class="editor-label">
            Order terminated?
        
        <span class="editor-field">
            @Html.CheckBoxFor(model => model.IsOrderTerminated)
        </span></div>

        <p>
            <input type="submit" value="Create" />
        </p>
        </div>
    <!-- </fieldset> -->
}
@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Prix
        </th>
        <th>
            ProductType
        </th>
    </tr>

@foreach (var item in Model.Menus) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@String.Format("{0:F}", item.Prix)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.ProductType).ToString()
        </td>
    </tr>
}
</table>*@

